:root {
	--link-text: hsl(26 65% 68%);
	--link-text-hover: hsl(26 50% 58%);
	--selection-bg: hsl(26 65% 50% / 60%);

	--list-active: hsl(26 100% 60% / 13%);
	--list-active-hover: hsl(26 100% 60% / 18%);

	--button-bg-hover: hsl(26 50% 15%);
	--button-border: hsl(26 65% 68%);
	--button-border-hover: hsl(26 65% 68%);
	--button-text: hsl(26 65% 68%);
	--button-text-hover: hsl(26 65% 68%);

	--button-default-bg: hsl(26 65% 68%);
	--button-default-bg-hover: hsl(26 50% 63%);
	--button-default-border: hsl(26 65% 68%);
	--button-default-border-hover: hsl(26 50% 63%);
}
