:root {
	--link-text: hsl(220 60% 75%);
	--link-text-hover: hsl(220 50% 65%);
	--selection-bg: hsl(220 80% 50% / 60%);

	--list-active: hsl(220 100% 60% / 18%);
	--list-active-hover: hsla(220 100% 60% / 25%);

	--button-bg-hover: hsl(220 50% 20%);
	--button-border: hsl(220 60% 75%);
	--button-border-hover:  hsl(220 60% 75%);
	--button-text: hsl(220 60% 75%);
	--button-text-hover: hsl(220 60% 75%);

	--button-default-bg: hsl(220 60% 75%);
	--button-default-bg-hover: hsl(220 50% 65%);
	--button-default-border: hsl(220 60% 75%);
	--button-default-border-hover: hsl(220 50% 65%);
}
