:root {
	--link-text: hsl(280 60% 78%);
	--link-text-hover: hsl(280 50% 68%);
	--selection-bg: hsl(280 80% 50% / 60%);

	--list-active: hsl(280 100% 60% / 21%);
	--list-active-hover: hsl(280 100% 60% / 28%);

	--button-bg-hover: hsl(280 50% 20%);
	--button-border: hsl(280 60% 78%);
	--button-border-hover: hsl(280 60% 78%);
	--button-text: hsl(280 60% 78%);
	--button-text-hover: hsl(280 60% 78%);

	--button-default-bg: hsl(280 60% 78%);
	--button-default-bg-hover: hsl(280 50% 68%);
	--button-default-border: hsl(280 60% 78%);
	--button-default-border-hover: hsl(280 50% 68%);
}
