:root {
	--link-text: hsl(280 60% 45%);
	--link-text-hover: hsl(280 60% 30%);
	--selection-bg: hsl(280 80% 50% / 12%);

	--list-active: hsl(280 80% 45% / 7%);
	--list-active-hover: hsl(280 80% 45% / 12%);

	--button-bg-hover: hsl(280 50% 96%);
	--button-border: hsl(280 60% 45%);
	--button-border-hover: hsl(280 60% 30%);
	--button-text: hsl(280 60% 45%);
	--button-text-hover: hsl(280 60% 30%);

	--button-default-bg: hsl(280 60% 45%);
	--button-default-bg-hover: hsl(280 60% 30%);
	--button-default-border: hsl(280 60% 45%);
	--button-default-border-hover: hsl(280 60% 30%);
}
