.access-menu {
	position: fixed;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 1000;
}

.access-menu li {
	position: static;
}

.access-menu a {
	position: absolute;
	width: 100%;
	left: 0;
	top: -5rem;
	height: 2rem;
	line-height: calc(2rem - 4px);
	background: var(--panel-bg);
	border-bottom: 1px solid var(--panel-border);
	text-align: center;
	text-decoration: none;
}

.access-menu a:focus-visible {
	top: 0;
	outline-offset: -2px;
}

@media screen and (max-width: 1023px) {
	.access-menu .panel-link {
		display: none;
	}
}
